{% extends 'base.html' %}
{% load static %}
{% block title %} Взвешивание {% endblock %}
{% block where %} Взвешивание {% endblock %}
{% block content %}

<script src="{% static 'bootstrap/js/jq.js' %}" ></script>
<script src="{% static 'bootstrap/js/util.js' %}" ></script>




<div class="container-fluid" style="padding-left: 0%;padding-right: 0%; margin:auto; ">



<div class="alert alert-danger" id="noconnectError" style="margin: auto;" role="alert">
  нет связи с сервером
</div>




<ul class="nav nav-tabs" style="background-color: #000306; "  >
  <li lass="nav-item"><a class="nav-link active"  data-toggle="tab" href="#panel1">Автомобильные весы</a></li>
  <li lass="nav-item"><a  class="nav-link" data-toggle="tab" href="#panel2">Железнодорожные весы</a></li>

</ul>

<div class="tab-content">
  <div id="panel1" class="tab-pane active" style="background-color: #000306; min-height: 85vh; padding-left: 1%;padding-right: 0%;">
    <h3 style="color: white">Измерение на весах - номер или название пункта</h3>
        <div class="row" style="width: 98vw;" >
          <div class="col-md-6" id="for_disabled1">



              <form style="color: white;">
                  {% csrf_token %}
  <div class="form-row">
<div class="form-group col-md-6">
    <div class="form-row border">
    <div class="form-group col-md-7">
      <label for="gosNavto">Номер авто</label>
      <input type="text" class="form-control" id="gosNavto">
    </div>
      <div class="form-group col-md-3">
      <label for="seriaAvto">Серия </label>
      <input type="text" class="form-control" id="seriaAvto">
    </div>
       <div class="form-group col-md-2 ">
      <label for="regionAvto">Регион</label>
      <input type="text" class="form-control" id="regionAvto">
    </div>
    </div>
</div>

      <div class="form-group col-md-6">
           <div class="form-row border">
    <div class="form-group col-md-7">
      <label for="gosNpricep">Номер прицепа</label>
      <input type="text" class="form-control" id="gosNpricep">
    </div>
       <div class="form-group col-md-3">
      <label for="seriaPricep">Серия </label>
      <input type="text" class="form-control" id="seriaPricep">
    </div>
       <div class="form-group col-md-2">
      <label for="regionPricep">Регион</label>
      <input type="text" class="form-control" id="regionPricep">
    </div>
           </div>
          </div>

  </div>
                    <div class="form-row">
                        <div class="form-group col-md-3"></div>
  <div class="form-group col-md-6">
    <label for="inputAddress">Номер накладной</label>
    <input type="number" class="form-control" id="nakladnay" placeholder="1234">
  </div>
                    </div>
    <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inVes">Автомоблить на весах</label>
       <input type="text" class="form-control bg-danger" id="inVes" value="нет" disabled>
    </div>
         <div class="form-group col-md-4">
      <label for="inVes">Направление движения</label>
      <input type="text" class="form-control" id="kudaAvto" value="нет" disabled>
    </div>
    <div class="form-group col-md-4">
      <label for="truePos">Автомобиль расположен хорошо</label>
      <input type="text" class="form-control bg-warning" id="gudAvto" value="отсутсвует" disabled>
    </div>
  </div>



  <div class="form-row" >
    <div class="form-group col-md-4 border ">
      <label for="ves">Вес on-line, кг</label>
      <input type="number" class="form-control" value="0.0" step="0.1" id="ves">
         <input class="btn btn-success" type="button" onclick="addVesTo()" value="Измерить" />
        <input class="btn btn-secondary"  type="button" value="Обнулить" />
    </div>

        <div class="form-group col-md-4 border">
      <label for="inputZip">ИТОГ, кг</label>
      <input type="number" class="form-control" id="itogAvto" value="0.0" disabled>
    </div>

      <div class="form-group col-md-2 border">
      <label for="inputZip">Измерение 1, кг</label>
      <input type="number" class="form-control" id="ves1" value="123.0" disabled>
          <input class="btn btn-success" type="button" id="addVes1" value="применить" />
    </div>
    <div class="form-group col-md-2 border">
      <label for="inputZip">Измерение 2, кг</label>
      <input type="number" class="form-control" id="ves2" value="125.12" disabled>
        <input class="btn btn-success"  type="button" id="addVes2" value="применить" />
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Отправить</button>
</form>


              <div class="row border" style="color: white; min-height: 20%; margin-top: 2%;">
                  <div class="col-md-4 border text-center" >Светофор на въезд</div>
                  <div class="col-md-4 border"> <button class="btn-success" style="margin: 2%;" >Разрешить въезд</button> <button class="btn-danger" style="margin: 2%;" >Запретить въезд</button>  </div>
                  <div class="col-md-4 border"><button class="btn-warning disabled" style="margin: 2%;" >Выключить светофор</button>
                   <button class="btn-success" style="margin: 2%;">Включить светофор</button>
                  </div>
                  </div>

<div class="row border" style="color: white; min-height: 20%;">
                  <div class="col-md-4 border text-center">светофор на выеезд </div>
                  <div class="col-md-4 border"> <button class="btn-success" style="margin: 2%;" >Разрешить выезд</button> <button class="btn-danger" style="margin: 2%;" >Запретить выезд</button>  </div>
                  <div class="col-md-4 border"><button class="btn-warning disabled" style="margin: 2%;" >Выключить светофор</button>
                   <button class="btn-success" style="margin: 2%;">Включить светофор</button>
                  </div>
              </div>




          </div>
          <div class="col-md-3 text-center">
               <div style="height: 35vh; max-width: 95%; background-color: aliceblue; margin: auto; margin-top: 2%; color: #1b1e21;">Camera1 <div class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div></div>
              <div style=" height: 35vh; max-width: 95%;  margin: auto; margin-top: 2%;color: #1b1e21;">
            <div style="background-color: honeydew;  display: inline-block; height: 100%; width: 50%;">
            Сфетофор на выезд
                <div class="rounded-circle" id="redViezdAvto" style="background-color: #ff000033; width: 50%; min-height:30%; margin-left: 20%;"></div>
                 <div class="rounded-circle" id="yellowViezdAvto" style="background-color: #ffff006b; width: 50%; min-height:30%; margin-left: 20%;"></div>
                <div class="rounded-circle" id="greenViezdAvto" style="background-color: #0080003d; width: 50%; min-height:30%; margin-left: 20%;"></div>
            </div>
            <div class="border"  style="background-color: honeydew; display: inline-block; float: left; height: 100%; width: 50%;">
            Светофор на въезд
                 <div class="rounded-circle" id="redVezdAvto" style="background-color: #ff000033; width: 50%; min-height:30%; margin-left: 20%;"></div>
                 <div class="rounded-circle" id="yellowVezdAvto" style="background-color: #ffff006b; width: 50%; min-height:30%; margin-left: 20%;"></div>
                <div class="rounded-circle" id="greenVezdAvto" style="background-color: #0080003d; width: 50%; min-height:30%; margin-left: 20%;"></div>
            </div>
</div>
          </div>


          <div class="col-md-3 text-center">
                            <div style="height: 35vh; max-width: 95%; background-color: aliceblue; margin: auto; margin-top: 2%; color: #1b1e21;">Camera 2 <div class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div></div>
              <div style=" height: 35vh; max-width: 95%; background-color: aliceblue; margin: auto; margin-top: 2%; color: #1b1e21;"> Camera 3 <div class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div></div>
          </div>
      </div>
  </div>





<script>
    $(document).ready(function() {
        $("#addVes1").click(function () {
            $("#itogAvto").val($('#ves1').val())
        });
        $("#addVes2").click(function () {
            $("#itogAvto").val($('#ves2').val())
        });
    });
var kuda= 1;
    function addVesTo() {
    let ves =  $("#ves").val();

    if(ves<0){
        alert('На весах отрицательное число обнулите ве или используйте дрейф');
    }else{
        $("#ves"+kuda).val(ves);
        kuda++;
        if(kuda>2){
            kuda=1;
        }
    }
    }
    var status=0;
    function blinke_funk() {

    if(status==1){
        $("#yellowVezdAvto").css('background-color','#ffff006b');
        $("#yellowViezdAvto").css('background-color','#ffff006b');
        status=0;
    }else{
        $("#yellowVezdAvto").css('background-color','yellow');
        $("#yellowViezdAvto").css('background-color','yellow');
        status=1;
    }
    }
    setInterval (blinke_funk, 1000);

</script>




















  <div id="panel2" class="tab-pane fade" style="background-color: #000306; min-height: 85vh; padding-left: 1%;">



        <h3 style="color: white">Измерение на весах - железнодопожные весы</h3>
        <div class="row" style="width: 98vw;">
          <div class="col-md-6" id="for_disabled2">



              <form style="color: white;">
                  {% csrf_token %}
  <div class="form-row">
<div class="form-group col-md-6"  >
    <div class="form-row border">
    <div class="form-group col-md-7">
      <label for="Npricepa">Номер вагона</label>
      <input type="text" class="form-control" id="Npricepa">
    </div>

    </div>
</div>


  </div>
                    <div class="form-row">
                        <div class="form-group col-md-3"></div>
  <div class="form-group col-md-6">
    <label for="nakladnayPricep">Номер накладной</label>
    <input type="number" class="form-control" id="nakladnayPricep" placeholder="1234">
  </div>
                    </div>
    <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inVesVagon">Вагон на весах</label>
       <input type="text" class="form-control bg-danger" id="inVesVagon" value="нет" disabled>
    </div>
         <div class="form-group col-md-4">
      <label for="kudaVagon">Направление движения</label>
      <input type="text" class="form-control" id="kudaVagon" value="нет" disabled>
    </div>
    <div class="form-group col-md-4">
      <label for="gudVagon">Вагон расположен хорошо</label>
      <input type="text" class="form-control bg-warning" id="gudVagon" value="отсутсвует" disabled>
    </div>
  </div>



  <div class="form-row">
    <div class="form-group col-md-4 border ">
      <label for="vesVagon">Вес on-line, кг</label>
      <input type="number" class="form-control" value="0.0" step="0.1" id="vesVagon">
         <input class="btn btn-success" type="button" onclick="addVesToVagon()" value="Измерить" />
        <input class="btn btn-secondary"  type="button" value="Обнулить" />
    </div>

        <div class="form-group col-md-4 border">
      <label for="itogVagon">ИТОГ, кг</label>
      <input type="number" class="form-control" id="itogVagon" value="0.0" disabled>
    </div>

      <div class="form-group col-md-2 border">
      <label for="ves1Vagon">Измерение 1, кг</label>
      <input type="number" class="form-control" id="ves1Vagon" value="123.0" disabled>
          <input class="btn btn-success" type="button" id="addVes1Vagon" value="применить" />
    </div>
    <div class="form-group col-md-2 border">
      <label for="ves2Vagon">Измерение 2, кг</label>
      <input type="number" class="form-control" id="ves2Vagon" value="125.12" disabled>
        <input class="btn btn-success"  type="button" id="addVes2Vagon" value="применить" />
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Отправить</button>
</form>


              <div class="row border" style="color: white; min-height: 20%; margin-top: 2%;">
                  <div class="col-md-4 border text-center" >Светофор на въезд</div>
                  <div class="col-md-4 border"> <button class="btn-success" style="margin: 2%;" >Разрешить въезд</button> <button class="btn-danger" style="margin: 2%;" >Запретить въезд</button>  </div>
                  <div class="col-md-4 border"><button class="btn-warning disabled" style="margin: 2%;" >Выключить светофор</button>
                   <button class="btn-success" style="margin: 2%;">Включить светофор</button>
                  </div>
                  </div>

<div class="row border" style="color: white; min-height: 20%;">
                  <div class="col-md-4 border text-center">светофор на выеезд </div>
                  <div class="col-md-4 border"> <button class="btn-success" style="margin: 2%;" >Разрешить выезд</button> <button class="btn-danger" style="margin: 2%;" >Запретить выезд</button>  </div>
                  <div class="col-md-4 border"><button class="btn-warning disabled" style="margin: 2%;" >Выключить светофор</button>
                   <button class="btn-success" style="margin: 2%;">Включить светофор</button>
                  </div>
              </div>




          </div>
          <div class="col-md-3 text-center">
               <div style="height: 35vh; max-width: 95%; background-color: aliceblue; margin: auto; margin-top: 2%; color: #1b1e21;">Camera1 <div class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div></div>
              <div style=" height: 35vh; max-width: 95%;  margin: auto; margin-top: 2%;color: #1b1e21;">
            <div style="background-color: honeydew;  display: inline-block; height: 100%; width: 50%;">
            Сфетофор на выезд
                <div class="rounded-circle" id="redViezdVagon" style="background-color: #ff000033; width: 50%; min-height:30%; margin-left: 20%;"></div>
                 <div class="rounded-circle" id="yellowViezdVagon" style="background-color: #ffff006b; width: 50%; min-height:30%; margin-left: 20%;"></div>
                <div class="rounded-circle" id="greenViezdVagon" style="background-color: #0080003d; width: 50%; min-height:30%; margin-left: 20%;"></div>
            </div>
            <div class="border"  style="background-color: honeydew; display: inline-block; float: left; height: 100%; width: 50%;">
            Светофор на въезд
                 <div class="rounded-circle" id="redVezdVagon" style="background-color: #ff000033; width: 50%; min-height:30%; margin-left: 20%;"></div>
                 <div class="rounded-circle" id="yellowVezdVagon" style="background-color: #ffff006b; width: 50%; min-height:30%; margin-left: 20%;"></div>
                <div class="rounded-circle" id="greenVezdVagon" style="background-color: #0080003d; width: 50%; min-height:30%; margin-left: 20%;"></div>
            </div>
</div>
          </div>


          <div class="col-md-3 text-center">
                            <div style="height: 35vh; max-width: 95%; background-color: aliceblue; margin: auto; margin-top: 2%; color: #1b1e21;">Camera 2 <div class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div></div>
              <div style=" height: 35vh; max-width: 95%; background-color: aliceblue; margin: auto; margin-top: 2%; color: #1b1e21;"> Camera 3 <div class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div></div>
          </div>
      </div>






</div>



</div>



<script>
    $(document).ready(function() {
        $("#addVes1Vagon").click(function () {
            $("#itogVagon").val($('#ves1Vagon').val())
        });
        $("#addVes2Vagon").click(function () {
            $("#itogVagon").val($('#ves2Vagon').val())
        });
    });
var kudaV= 1;
    function addVesToVagon() {
    let ves =  $("#vesVagon").val();

    if(ves<0){
        alert('На весах отрицательное число обнулите ве или используйте дрейф');
    }else{
        $("#ves"+kudaV+"Vagon").val(ves);
        kudaV++;
        if(kudaV>2){
            kudaV=1;
        }
    }
    }
    var statusV=0;
    function blinke_funkV() {
    if(chatSocketClose){
         connect();
         $('#element').toast('show');
    }
    if(statusV==1){
        $("#yellowVezdVagon").css('background-color','#ffff006b');
        $("#yellowViezdVagon").css('background-color','#ffff006b');
        statusV=0;
    }else{
        $("#yellowVezdVagon").css('background-color','yellow');
        $("#yellowViezdVagon").css('background-color','yellow');
        statusV=1;
    }
    }
    setInterval (blinke_funkV, 1000);

</script>

{##}
{#<textarea id="chat-log" cols="100" rows="20"></textarea><br/>#}
{#    <input id="chat-message-input" type="text" size="100"/><br/>#}
{#    <input id="chat-message-submit" type="button" value="Send"/>#}
{##}
{#<input type="submit" class="btn btn-danger" onclick="connect()" value="connect to server"/>#}


<script>

    var roomName = 'wert';
    var chatSocketClose=false;
    var chatSocketCOpen=false;
    var chatSocket;
function connect() {

if(!chatSocketCOpen){
                    chatSocket = new WebSocket(
                     'ws://' + window.location.host + '/ws/');
}
  chatSocket.onopen = function() {
             chatSocketCOpen= true;
             chatSocketClose=false;
             $("#statusConnect").html('<span class="badge badge-success">OnLINE</span>');
             $("#noconnectError").hide();
             $("#for_disabled1").removeClass('disabledB');
             $("#for_disabled2").removeClass('disabledB');
               };
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
        alert('new message');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
        chatSocketClose=true;
        chatSocketCOpen= false;
        $("#statusConnect").html('<span class="badge badge-danger">OFFLINE</span>');
        $("#noconnectError").show();
        $("#for_disabled1").addClass('disabledB');
        $("#for_disabled2").addClass('disabledB');
    };
    {##}
    {#document.querySelector('#chat-message-input').focus();#}
    {#document.querySelector('#chat-message-input').onkeyup = function(e) {#}
    {#    if (e.keyCode === 13) {  // enter, return#}
    {#        document.querySelector('#chat-message-submit').click();#}
    {#    }#}
    {#};#}
    {##}
    {#document.querySelector('#chat-message-submit').onclick = function(e) {#}
    {#    var messageInputDom = document.querySelector('#chat-message-input');#}
    {#    var message = messageInputDom.value;#}
    {#    chatSocket.send(JSON.stringify({#}
    {#        'message': message#}
    {#    }));#}
    {##}
    {#    messageInputDom.value = '';#}
    {#};#}


    }


connect();

</script>

















{% endblock %}