{% extends 'base.html' %}
{% load static %}
{% block title %} Склад {% endblock %}
{% block where %} Склад {% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'bootstrap/css/boot.css' %}" >
    <link rel="stylesheet" href="{% static 'bootstrap/css/boottable.css' %}" >
    <script src="{% static 'bootstrap/js/jq.js' %}" ></script>
<script src="{% static 'bootstrap/js/popper.js' %}"  ></script>
<script src="{% static 'bootstrap/js/bmin.js' %}"></script>
     <script src="{% static 'bootstrap/js/bootJsTable.js' %}" ></script>
<div class="container-fluid" style="padding: 0%;margin:0%;background-color: #000306; min-height: 85vh; color: white; ">
<ul class="nav nav-tabs" style="background-color: #000306; "  >
  <li lass="nav-item"><a class="nav-link active"  data-toggle="tab" href="#panel1">Транспорт с автомобильных весов</a></li>
  <li lass="nav-item"><a  class="nav-link" data-toggle="tab" href="#panel2">Транспорт с железнодорожных весов</a></li>

</ul>

<div class="tab-content">
      <div id="panel1" class="tab-pane active" >
        <h3 style="color: white">Таблица автотранспорта</h3>
      <table data-toggle="table" style="color: white;">
              <thead>
            <tr>
                <th rowspan="2">id</th>
                <th rowspan="2">номер</th>
                <th colspan="2">Время</th>
                <th rowspan="2">Состояние</th>
            </tr>
            <tr>
                <th>въезд</th>
                <th>выезд</th>
            </tr>
        </thead>
        <tbody>
              {% for a in auto %}
                  <tr>
        <td>{{ a.id }}</td>
        <td>{{ a.number }}</td>
        <td>{{ a.last_in }}</td>
        <td>{{ a.last_out }}</td>
         <td>{{ a.status_in }}</td>
                  </tr>
              {% endfor %}
        </tbody>
      </table>
          <form style="color: white;" action="{% url 'vesovay:addcar' %}" method="post">
                  {% csrf_token %}
          </form>
      </div>
     <div id="panel2" class="tab-pane" >
        <h3 style="color: white">Таблица ЖД транспорта</h3>
         <form  action="{% url 'vesovay:addcar' %}" method="post">
                  {% csrf_token %}
          </form>
      </div>
</div>
</div>





{% endblock %}